main{width: auto;border: 3px solid black;margin: auto;width: 250px;border-radius: 10px;background-color: rgb(120, 200, 120);}
#cal{
    border: 3px solid black;
    width: 210px;
    height: 20px;
    margin: auto;
    margin-top: 10px;
    border-radius: 10px;
    word-wrap: break-word;
    background-color: rgb(186, 164, 164);

}


#pav{
    margin: auto;
    width: 200px;
    background-color: gray;
    word-wrap: break-word;
    margin-bottom: 5px;
    margin-top: 5px;
}
.row{
    display: flex;
    justify-content: space-around;

}
button{
    width: 60px;
    margin-bottom: 10px;
}

p{
    margin:0px;
    margin-left: 1px;
    font:10px;
}
body{
    background-image: url(fond.jpeg);
    background-size: 100% 900px;
}

